body{
    background-color: rgb(219, 237, 253);
}

table{
    margin: 20px auto;
}

td{
    width: 100px;
    height: 100px;
    background: black;
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

h1.heading {
    text-align: center;
    margin-top: -106px;
}

h1#player {
    text-align: center;
}

button.foot {
    margin-left: 468px;
    margin-top: 10px;
    width: 311px;
    height: 82px;
    text-align: center;
    background-color: whitesmoke;
    border-color: grey;
    border-radius: 10px;
    transition: all 0.5s ease;
}

td:hover {
    background-color: rgb(95, 93, 97);
}
td{
    transition: all 0.5s ease;
}

button#foo:hover {
    background-color:  rgb(240, 243, 252);
    border-color: blue;
    color: blue;
    border-radius: 10px;
}

.mb-3 {
    background-color: black;
    width: 300px;
    height: 70px;
    text-align: center;
    padding: 30px 10px;
    color: white;
    border-radius: 10px;
}

.mb-4 {
    margin-top: 33px;
    height: 30px;
}

button.btn.btn-primary {
    background-color: lightgreen;
    margin-top: 23px;
    height: 29px;
    width: 80px;
    border-radius: 10px;
}

.mb-6 {
    background-color: black;
    width: 300px;
    height: 70px;
    text-align: center;
    padding: 30px 10px;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
h1#name1 {
    margin-left: 84px;
}
h1#name2 {
    float: right;
    margin-top: -110px;
    margin-right: 84px;
}
h1#scoreboard1 {
    margin-left: 109px;
    margin-top: -13px;
}
h1#scoreboard2 {
    float: right;
    margin-right: 108px;
    margin-top: -64px;
}